@import "../variables.css";

.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px var(--horizontal-space) 30px var(--horizontal-space);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.screen-header__title {
  font-size: 25px;
  font-weight: bold;
}

.screen-header__icon span {
  margin-left: 20px;
}

@keyframes gearRotation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header:hover .fa-gear {
  animation: gearRotation 1.5s linear infinite;
}
